{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nebula - One Page HTML Template | ShapeBootstrap</title>
    <link href="{% static 'wappApp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'wappApp/css/main.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'wappApp/js/bootstrap-filestyle.min.js'%}"> </script>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static  'wappApp/images/favicon.ico' %}">
</head><!--/head-->

<body>

<!--.preloader-->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->

<header id="header"> 
    <div class="container">
        <div class="container-inner">
            <div class="logo pull-left">
                <a class="pull-left logo" href="{% url 'index'%}">
                    <h1><img class="img-responsive" src="{% static 'wappApp/images/logo.png' %}" alt="logo"></h1>
                </a>
            </div>
            <div class="menu pull-right">
                <a href="#" class="nav-button">
                    <i class="fa fa-align-justify"></i> Menu
                </a> 
            </div>
        </div>
    </div>
</header> <!--/#header-->

<div id="navigation">
    <div class="vertical-middle">
        <div class="vertical-middle-inner">
            <div class="main-nav">
                <a id="hidemenu" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
                <ul>                     
                    <li class="active"><a href="#" data-target="#page-slider" data-slide-to="0">Home</a></li>
                    <li><a href="#" data-target="#page-slider" data-slide-to="1">About</a></li>
                    <li><a href="#" data-target="#page-slider" data-slide-to="2">Service</a></li>                     
                    <li><a href="#" data-target="#page-slider" data-slide-to="3">Portfolio</a></li>   
                    <li><a href="#" data-target="#page-slider" data-slide-to="4">Blog</a></li> 
                    <li><a href="#" data-target="#page-slider" data-slide-to="5">Contact</a></li>                  
                </ul>
            </div>
        </div>
    </div>
</div><!--/#navigation-->

<section id="welcome-page">

    <div id="page-slider" class="carousel slide" data-interval="false">

        <ol class="carousel-indicators visible-xs">
            <li data-target="#page-slider" data-slide-to="0" class="active"></li>
            <li data-target="#page-slider" data-slide-to="1"></li>
            <li data-target="#page-slider" data-slide-to="2"></li>
            <li data-target="#page-slider" data-slide-to="3"></li>
            <li data-target="#page-slider" data-slide-to="4"></li>
            <li data-target="#page-slider" data-slide-to="5"></li>
        </ol>

        <a class="welcome-page-left hidden-xs hidden" href="#page-slider" data-slide="prev" id="left"><i class="fa fa-chevron-left"></i></a>
        <a class="welcome-page-right hidden-xs hidden" href="#page-slider" data-slide="next" id="right"><i class="fa fa-chevron-right"></i></a>

        <div class="carousel-inner">

            <div id="home-page" class="item active">
                <div class="container">
                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">
                            <div class="row">
                                <div class="col-sm-6 col-md-push-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <div class="custom-right-thing">
                                                <form  id="formi"  method="POST" enctype="multipart/form-data" class="custom-form-thing">
                                                    {% csrf_token %}
                                                    <div class="inputWrapper">
                                                        <input id="some_file_input" type="file"  name="some_file" class="custom-input-thing" data-buttonName="btn-primary" data-icon="true">
                                                    </div>
                                                    <button type="submit" class="btn btn-default" id="upload-file-btn">Submit</button>
                                                </form>
                                            </div>

                                        <!--<iframe class="embed-responsive-item" src="//player.vimeo.com/video/43723521" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-pull-6">
                                    <h2 class="heading">The Next <br> Generation Themes</h2>
                                    <p class="lead">Whether you require large banners and posters to promote your company or <br>some more subtle letter heads and business cards, </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="footer" class="text-center">
                    Powered by NachoMiguel
                </footer>
            </div><!--/#home-page-->

            <div id="about-page" class="item">
                <div>
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">

                            <div class="text-center">
                                <h2 class="page-header">About Us</h2>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="box">
                                        <h3 class="h3">Días con más mensajes</h3>
                                            <ul class="list-group"  id="dates">
                                                {% for days in dates %}
                                                    <li class="list-group-item list-group-item-success">{{ days }}</li>
                                                {% endfor %}
                                            </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="box">
                                        <h3 class="h3">¿Quien está en el grupo?!</h3>
                                            <ul class="list-group" id="users">
                                                {% for user in users %}
                                                    <li class="list-group-item list-group-item-success">{{ user }}</li>
                                                {% endfor %}
                                            </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="box">
                                        <h3 class="h3">¿Quien habla más?!</h3>
                                            <ul class="list-group" id="more_talks">
                                                {% for name in talks %}
                                                    <li class="list-group-item list-group-item-success">{{ name }}</li>
                                                {% endfor %}
                                            </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                </div>
            </div><!--/#about-page-->

            <div id="service-page" class="item">
                <div>
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">

                            <div class="text-center">
                                <h2 class="page-header">Our Services</h2>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <div class="box">
                                        <i class="fa fa-apple fa-2x"></i>
                                        <h3>iOS App</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <div class="box">
                                        <i class="fa fa-android fa-2x"></i>
                                        <h3>Android App</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <div class="box">
                                        <i class="fa fa-windows fa-2x"></i>
                                        <h3>Windows</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <div class="box">
                                        <i class="fa fa-linux fa-2x"></i>
                                        <h3>Linux</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                </div>
            </div><!--/#service-page-->

            <div id="portfolio-page" class="item">
                <div>
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">

                            <div class="text-center">
                                <h2 class="page-header">Our Portfolio</h2>
                            </div>

                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="overlay-container">
                                        <img class="img-responsive" src="" alt="">
                                        <div class="overlay">
                                            <div class="vertical-middle">
                                                <div class="vertical-middle-inner">
                                                    <a href="#"><i class="fa fa-plus"></i></a>
                                                    <h4>Marlon Henson INC</h4>
                                                    Print Templates
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="overlay-container">
                                        <img class="img-responsive" src="" alt="">
                                        <div class="overlay">
                                            <div class="vertical-middle">
                                                <div class="vertical-middle-inner">
                                                    <a href="#"><i class="fa fa-plus"></i></a>
                                                    <h4>Marlon Henson INC</h4>
                                                    Print Templates
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="overlay-container">
                                        <img class="img-responsive" src="" alt="">
                                        <div class="overlay">
                                            <div class="vertical-middle">
                                                <div class="vertical-middle-inner">
                                                    <a href="#"><i class="fa fa-plus"></i></a>
                                                    <h4>Marlon Henson INC</h4>
                                                    Print Templates
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                </div>
            </div><!--/#portfolio-page-->

            <div id="blog-page" class="item">
                <div>
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">

                            <div class="text-center">
                                <h2 class="page-header">Our Blog</h2>
                            </div>

                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="overlay-container">
                                        <img class="img-responsive" src="" alt="">
                                        <div class="overlay">
                                            <div class="vertical-middle">
                                                <div class="vertical-middle-inner">
                                                    <a class="readmore" href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="entry-title"><a href="#">Peaceful Protests Derailed After Water Bottles Thrown, 47 Arrested Overnight</a></h3>
                                </div>
                                <div class="col-sm-4">
                                    <div class="overlay-container">
                                        <img class="img-responsive" src="" alt="">
                                        <div class="overlay">
                                            <div class="vertical-middle">
                                                <div class="vertical-middle-inner">
                                                    <a class="readmore" href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="entry-title"><a href="#">20 Things Incoming College Freshmen Will Never Understand</a></h3>
                                </div>
                                <div class="col-sm-4">
                                    <div class="overlay-container">
                                        <img class="img-responsive" src="" alt="">
                                        <div class="overlay">
                                            <div class="vertical-middle">
                                                <div class="vertical-middle-inner">
                                                    <a class="readmore" href="#"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="entry-title"><a href="#">Motorcycle Accident Ends in the Craziest Possible Way</a></h3>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                </div>
            </div><!--/#blog-page-->

            <div id="contact-page" class="item">
                <div>
                <div class="container">

                    <div class="vertical-middle">
                        <div class="vertical-middle-inner">

                            <div class="text-center">
                                <h2 class="page-header">Contact Us</h2>
                            </div>

                            <form class="form-horizontal" id="contact-form" role="form">
                                <div class="form-group form-status">
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <div class="form-status-content">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <input type="text" name="name" class="form-control input-lg" placeholder="Name" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <input type="email" name="email" class="form-control input-lg" placeholder="Email" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <input type="text" name="subject" class="form-control input-lg" placeholder="Subject" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <textarea name="message" rows="6" class="form-control input-lg" placeholder="Message" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button type="submit" class="btn btn-lg btn-transparent">Sign in</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                </div>
            </div><!--/#contact-page-->
        </div><!--/.carousel-inner-->
    </div>
</section>



<script type="text/javascript" src="{% static 'wappApp/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'wappApp/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wappApp/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'wappApp/js/jquery-input-file-text.js' %}"></script>
<script type="text/javascript" src="{% static 'wappApp/js/custom-js.js' %}"></script>
<script>

    $('form').submit(function(event){
        validated = true;

        if ($('#some_file_input').get(0).files.length === 0) {
            validated = false;
            console.log("No files selected.");
            // Or some div with image showing
            var div = document.createElement('div');
            div.innerHTML = "<img src='{% static "wappApp/images/Icono_de_Alto.png"%}' class= 'imgclass'>";

            // better to use CSS though - just set class
            div.setAttribute('class', 'myclass'); // and make sure myclass has some styles in css
            document.body.appendChild(div);
            $('.myclass').finish().fadeIn("fast").delay(2000).fadeOut("slow");

        }

        if (validated != true) {
            event.preventDefault();
        }
});
</script>
<script>
    $("#formi").submit(function(event){
       event.preventDefault();
        var data = new FormData($('form').get(0));

            $.ajax({
                 type:"POST",
                 url:"{% url 'do_some_work' %}",
                 data: data,
                 processData: false,
                 contentType: false,
                 csrfmiddlewaretoken: '{{ csrf_token }}',

                 success: function(data){
                     $("#dates").html(data.dates);
                         var dates = "";
                        $(data.dates).each(function(i, days){
                            dates += "<li class='list-group-item list-group-item-success'>"+ days +"</li>"
                        });
                        $("#dates").html(dates);

                     $("#users").html(data.users);
                         var users = "";
                        $(data.users).each(function(i, u){
                            users += "<li class='list-group-item list-group-item-success'>"+ u +"</li>"
                        });
                        $("#users").html(users);

                     $("#more_talks").html(data.talks);
                         var more_talks = "";
                        $(data.talks).each(function(i, t){
                            more_talks += "<li class='list-group-item list-group-item-success'>"+ t +"</li>"
                        });
                        $("#more_talks").html(more_talks);
                    },


                 error : function(xhr) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
            });
       });
</script>
<script>
    $("#right").onclick(function(event){
       event.preventDefault();
        var data = new FormData($('form').get(0));

            $.ajax({
                 type:"POST",
                 url:"{% url 'do_some_work' %}",
                 data: data,
                 processData: false,
                 contentType: false,
                 csrfmiddlewaretoken: '{{ csrf_token }}',

                 success: function(data){
                     $("#dates").html(data.dates);
                         var dates = "";
                        $(data.dates).each(function(i, days){
                            dates += "<li class='list-group-item list-group-item-success'>"+ days +"</li>"
                        });
                        $("#dates").html(dates);

                     $("#users").html(data.users);
                         var users = "";
                        $(data.users).each(function(i, u){
                            users += "<li class='list-group-item list-group-item-success'>"+ u +"</li>"
                        });
                        $("#users").html(users);

                     $("#more_talks").html(data.talks);
                         var more_talks = "";
                        $(data.talks).each(function(i, t){
                            more_talks += "<li class='list-group-item list-group-item-success'>"+ t +"</li>"
                        });
                        $("#more_talks").html(more_talks);
                    },


                 error : function(xhr) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
            });
       });
</script>
</body>
</html>