{% extends "wappApp/index.html" %}
{% load static %}

{% block title %}GroupApp Data del Grupo{% endblock %}

{% block Header %}
    <div class="jumbotron">
        <h1>Hello, grupo!</h1>
        <p><a class="btn btn-primary btn-lg" href={% url 'wappApp.views.index'%} role="button">Volver</a></p>
    </div>
{% endblock %}

{% block content %}
    <div class="custom-body">
    <div class="row-prueba custom-padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2 class="h2">Días con más mensajes</h2>
            <ul class="list-group">
                {% for days in dates %}
                    <li class="list-group-item list-group-item-success">{{ days }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2 class="h2">¿Quien está en el grupo?!</h2>
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item list-group-item-success">{{ user }}</li>
                {% endfor %}
            </ul>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2 class="h2">¿Quien habla más?!</h2>
            <ul class="list-group">
                {% for name in talks %}
                    <li class="list-group-item list-group-item-success">{{ name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
{% endblock %}